# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# prod env files
.env*.production

# typescript
*.tsbuildinfo

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/Podfile.lock
ios/DerivedData/
ios/seascape.xcworkspace/
ios/seascape.xcodeproj/project.xcworkspace/
ios/seascape.xcodeproj/xcuserdata/
ios/seascape.xcodeproj/project.pbxproj
ios/seascape/Images.xcassets/

# Android
android/.gradle/
android/.idea/
android/build/
android/app/build/
android/local.properties

# Common
*.log
*.lock
*.xcuserstate
*.iml

# EAS/Expo
eas.json
